@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cera Pro', sans-serif;
}

button,
input {
    font-family: 'Cera Pro', sans-serif;
}

.container {
    padding: 30px 120px 52px;
}

.header {
     border-bottom: 1px solid #fff;;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    gap: 60px;
}

.nav-link {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    padding-bottom: 25px;
    display: inline-block;
}

.nav-link.active {
    border-bottom-color: #46A358;
    font-weight: 700;
}

.header-actions {
    display: flex;
    gap: 15px;
}

.login-btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: #46A358;
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 6px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(245, 245, 245, 0.5);
    margin-top: 10px;
}


.hero-content {
    padding: 68px 40px 85px;
}

.hero-subtitle {
    text-transform: uppercase;
    font-size: 16px;
    color: #727272;
    margin-bottom: 10px;
}

.hero-title {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #3D3D3D;
}

.highlight {
    color: #46A358;
}

.hero-description {
    font-size: 14px;
    color: #727272;
    line-height: 1.6;
    margin-bottom: 25px;
    width: 90%;
}

.shop-now-btn {
    background: #46A358;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
.hero-image {
    position: relative;
}

.p-big {
    width: 507px;
    /*height: 450px;*/
}

.p-small {
    position: absolute;
    width: 150px;
    bottom: 35px;
    left: 36px;
}

.modal {
    max-width: 420px;
    width: 100%;
    margin: 60px auto;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}
.tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    font-weight: 400;
}

.tabs .active {
    color: #46A358;
    font-weight: 700;
}

.description {
    font-size: 14px;
    color: #777;
    margin-bottom: 25px;
    text-align: center;
}

.register-form input {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.register-btn {
    width: 100%;
    height: 45px;
    background: #46A358;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.divider {
    margin: 25px 0;
    border-top: 1px solid #eee;
    position: relative;
}

.divider span {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 0 10px;
    font-size: 12px;
    color: #999;
}

.social-btn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}
.social-btn span {
    display: inline-block;
}
.social-btn img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}
.social-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.sidebar {
    vertical-align: top;
}

.categories {
    background: #FBFBFB;
}

.categories-inner {
    padding: 14px 18px;
}

.categories h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 7px;
}

.categories-list {
    list-style: none;
    padding-left: 0 12px;
    margin-bottom: 320px;
}


.categories-list a {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    color: #3D3D3D;
}

.categories-list a.active {
    color: #46A358;
    font-weight: 700;
}

.sale-banner {
    width: 310px;
}

.sale-banner img {
    width: 310px;
    display: block;
}

.shop-content {
    vertical-align: top;
    
}

.shop-header {
    display: flex;
    justify-content: space-between;
}

.shop-tabs {
    display: flex;
    gap: 35px;
}

.shop-tabs a {
    font-size: 15px;
    color: #3D3D3D;
    text-decoration: none;
}

.shop-tabs a.active {
    color: #46A358;
    font-weight: 700;
    border-bottom: 2px solid #46A358;
    padding-bottom: 7px;
}

.sorting {
    float: right;
    font-size: 15px;
    color: #3D3D3D;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 100px 70px;
}

.product-card {
    font-size: 14px;
}

.product-card:nth-child(3n) {
    margin-right: 0;
}

.product-image {
    background: #FBFBFB;
}

.product-image img {
    Width: 242px;
    object-fit: contain;
    display: block;
    padding: 31px 4px 19px;
    max-height: 242px;
    max-width: 280px;
}
.product-card h3 {
    font-size: 16px;
    font-weight: 400;
    color: #3D3D3D;
    margin-top: 12px;
}

.product-card p {
    font-size: 18px;
    font-weight: 700;
    color: #46A358;
    margin-top: 6px;
}

.pagination {
    display: flex;
    justify-content: end;
    gap: 10px;
    list-style: none;
}
.pagination button {
    border: 1px solid #E5E5E5;
    background: #fff;
    border-radius: 4px;
    padding: 10px 14px;
    cursor: pointer;
    color: #3D3D3D;
}
.pagination .active {
    background: #46A358;
    color: #fff;
    border-color: #46A358;
}


.shop-section {
    display: flex;
    margin-top: 30px;
    gap: 50px;
}
.sort-by {
    display : flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.active {
    color: #46A358;

}
.sort-arrow {
    width: 16px;
    height: 16px;
}
.sorting {
    display: flex;
    align-items: center;
    gap: 4px;
}
.blog-section {
    padding: 200px 0 200px;
}

.blog-section .container {
    display: flex;
    flex-direction: column;
    gap: 138px;
    padding: 0;
}

.promo-list {
    display: flex;
    gap: 28px;
}
.promo-card {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 37px 25px 37px 250px;
    background: #FBFBFB;
}

.promo-card img {
    position: absolute;
    left: 0;
    bottom: 10px;
    max-width: 45%;
}

.promo-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
    text-align: right;
}

.promo-content h3 {
    font-size: 18px;
    line-height: 24px;
    color: #3D3D3D;
}

.promo-content p {
    font-size: 14px;
    line-height: 24px;
    color: #727272;
}

.promo-btn {
    padding: 10px 27px;

    background: #46A358;
    border-radius: 6px;

    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.blog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.blog-header h2 {
    font-size: 30px;
    color: #3D3D3D;
}

.blog-header p {
    font-size: 14px;
    color: #727272;
}

.blog-cards {
    display: flex;
    gap: 44px;
}

.blog-card {
    flex: 1;

    display: flex;
    flex-direction: column;

    background: #FBFBFB;
}

.blog-card img {
    width: 100%;
}

.blog-content {
    display: flex;
    flex-direction: column;

    gap: 10px;

    padding: 15px;
}

.blog-content span {
    font-size: 14px;
    color: #46A358;
}

.blog-content h3 {
    font-size: 20px;
    line-height: 26px;
    color: #3D3D3D;
}

.blog-content p {
    font-size: 14px;
    line-height: 22px;
    color: #727272;
}

.blog-content a {
    color: #3D3D3D;
    text-decoration: none;
    font-size: 14px;
}
.blog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
